/* ROOT */
html {
	background-color: white;
}

/* FORMATTING: TABLE */
th, tr, td {
    border: 1px solid black; 
    border-collapse: collapse;
    text-align: left;
	padding: .25rem;
}

th {
	font-weight: bold;
}

caption {
	text-align: left;
}

/* FORMATTING: LIST */
li {
	list-style-type: none;
}

/* NAVBAR */
#nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
	padding-left: 0;
}

/* ALL SECTIONS */
.section {
	margin-bottom: 1.5rem;
}

.section-header {
    text-transform: uppercase;
}

/* SECTION: ABOUT */
#section-about {
	display: flex;
	gap: 1rem;
	align-items: center;
}

#about-img {
	width: 100px;
  	height: 100px;
  	object-fit: cover;
	border-radius: 50%;
}

/* FORM: CONTACT */
.contact-form {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	margin-bottom: 1rem;
}