/* SECTION: HERO */
#hero-text {
    font-family: 'Lora', serif;
    color: #FFFFFF;
    font-weight: 500;

    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

#hero-h1 {
    font-size: 6vw;
}

#hero-h2 {
    font-size: 3vw;
    font-style: italic;
}